DJANGO_SECRET_KEY=replace-with-local-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_ENGINE=django.db.backends.postgresql
DB_NAME=project_manager_local
DB_USER=postgres
DB_PASSWORD=replace-me
DB_HOST=127.0.0.1
DB_PORT=5432
DB_CONN_MAX_AGE=0
DB_CONNECT_TIMEOUT=10

THROTTLE_ANON=300/minute
THROTTLE_USER=1000/minute
